body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.kb_visual_graph {
	float: left;
	border: 2px #000000 solid;
}
.kb_visual_zoomer_vpan {
	float: left;
	margin-right: 10px;
	height: 500px !important;
}
.kb_visual_zoomer_hpan {
	float: left;
	clear: left;
	margin-top: 10px;
	width: 920px !important;
}
.kb_visual_zoom {
	width: 255px;
	margin: 25px auto;
}
.kb_visual_zoomer {
	float: left;
	height: 107px !important;
	margin-right: 10px;
}
.kb_visual_zoomer_label {
	clear: both;
	padding: 10px;
}
.kb_visual_zoomer_value {
	font-weight: bold;
}
.kb_visual_zoomer_value_selectors {
	width: auto;
	padding: 10px;
}
.kb_visual_zoomer_mini {
	width: 204px;
	float: left;
	height: 111px;
	border: 2px #000000 solid;
}
.kb_visual_zoomer_mini_active {
	width: 200px;
	height: 107px;
	border: 2px #A2A2A2 solid;
	background-color: #DDDDDD;
	position: relative;
	left: 0;
	top: 0;
}
